body {
  background-image: url("../images/fondo.jpg");
  font-family: 'Krona One', sans-serif;
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.enlace_login_home{
  text-decoration: none;
  color: white;
}
.btn-home {
  color: #fff;
  background-color: #df3333;
  border-color: #df3333;
}

.btn-home:hover {
  color: #fff;
  background-color: #ff0000;
  border-color: #ff0000;
}

button a:hover{
  color: white;
}

.home_cliente{  
  text-align: center;
  position: absolute;
  top: 35%;
  left: 40%;
}

.cerrar_sesion{
  position: absolute;
  left: 85%;
}

.centrado{
  position: absolute;
  left: 42%;
}

.texto_carta{
  position: relative;
  left: 20%;
}

.flotante{
  float: left;
}

.texto_cuenta{
  text-align: center;
  position: absolute;
  left: 30%;
}

.fondo_tabla{
  background-color: rgb(250, 214, 214);
}

.tabla_pedido{
  background-color: rgb(250, 214, 214);
}

.fondo_progreso{
  background-color: black;
}